*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
  }

body{
    background-color: #777;
    font-family: Arial, sans-serif;
}

.container{
    height: 30rem;
    width: 58rem;
    position: relative;
    margin: auto;
    margin-top: 10rem;
    padding: 1rem;
    box-sizing: content-box;
    background-color: #fff;
    box-shadow: 0 0.3rem .7rem rgba(0, 0, 0, .15);
}
.week__wrapper{
    display: flex;
    flex-wrap: wrap;
}
.week__label{
    flex: 0 0 100%;
    text-align: center;
    margin: 6px 0;
    font-size: 1.6rem;
}

/******************
DAY ELEMENT
*******************/
.day__container{
    margin: 0.3rem;
    flex: 1 0;
}
.day__info{
    background-color: #10b981; 
    color: white;
    text-align: center;
    height: 6.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.day__info--dayName{
    font-size: 2.3rem;
    padding: 5px;
}
.day__info--fullDate{
    font-size: 1.1rem;
    padding: 0 5px 5px 5px;
}
.day__info--null{
    width: 4rem;
}
.day__bookingBar{
    height: 1rem;
    margin-top: 5px;
}

/******************
DAY ELEMENT SELECTED
*******************/
.selected .day__info {
    background-color: #047857;
    z-index: 2;
}

/******************
HOURS ELEMENT
*******************/
.hours__progressBar{
    margin-top: 4rem;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 3rem;
}

/******************
BUTTONS
*******************/
.btn{
    position: absolute;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
}
.btn-left svg,
.btn-right svg{
    width: 2rem;
    height: 2rem;
}
.btn-left{
    top: 1.1rem;
    left: 1.1rem;
}
.btn-right{
    top: 1.1rem;
    right: 1.1rem;
}
.btn-reload{
    position: absolute;
    top: 0.8em;
    right: 9.1rem;
    border: 1px solid #777;
    font-size: 1.5rem;
    padding: 0.3rem 1rem;
    background: transparent;
    border-radius: 5px;
}




/******************
MEDIA QUERIES
*******************/
@media (max-width: 37em) {
    html {
        font-size: 50%;
    }
}
@media (max-width: 30em) {
    html {
        font-size: 38%;
    }
}

/******************
CONSOLE LOG
*******************/
.consoleLog{
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 1.8rem;
}


